// Place all the styles related to the ideas controller here.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 {color: blue;}
label {color:red;}
textarea {color:yellow;background-color: black;}
p {color:grey;}
body.mybody {background-color: azure}
div.navbar-header {background-color: grey}
button.navbar-toggle {background-color: #E89999}
.navbar-default .navbar-header .navbar-brand {color: #F5F4F4}
a
