// Place all the styles related to the ideas controller here.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 {color: blue;}
label {color: black;}
body.mybody {background-color: #198caa}
div.navbar-header {background-color: #ffffff}
button.navbar-toggle {background-color: #ffffff}
.navbar-default .navbar-header .navbar-brand {color: #000000}
.navbar-nav {background-color: #ffffff; color: #000000}
a {color: #e46648}


.logo {
  float: right;
}
